header
  |Tab Killer
  .header-control
      if (typeof username=="undefined")
       a(href="/") Home 
       a(href="/login") Login 
       | &nbsp;
       a(href="/signup") Signup
      else
       span=username
       | &nbsp;
       a(href="/logout") logout