!!! 5
html
  head
    title=title
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
    block styles
  body
    include header
    .container
        block content
        script(type="text/javascript", src="/javascripts/vendor/jquery-1.9.1.min.js")
        script(type="text/javascript", src="/javascripts/vendor/jquery.timeago.min.js")
        script(type="text/javascript", src="/javascripts/vendor/underscore-min.js")
        script(type="text/javascript", src="/javascripts/vendor/backbone-min.js")
        block bodyscripts