body
  font-family Helvetica Neue
button
  font-size 1.1em
h1
  margin 5px
a
	text-decoration none
header
	.header-control
		float right
#app
	max-width 1000px
	min-width 700px
	margin auto
#main
    .back-link 
    	margin 10px 0px 0px
    ul
    	list-style none
   	#list
   		padding 0px
.block-header
	border-bottom 1px solid #eee
	text-align right 
	padding 2px 40px
.back-link
	display none
.block-url
	.block-link
		display none
	.back-link
		display block

#list>li
	padding 2px
	margin 3px
.selected-bucket
	background-color rgb(250, 250, 250)
	.block-header
		border-color #333

#new-bucket
	height 50px
	display none
	a
		color #999

#new-bucket.selected-bucket
	display block


.view
	margin 5px
	.icon
		width 16px
		float left
	.title
		float left
		white-space: nowrap;
		overflow: hidden;
		width: 65%;
		text-overflow ellipsis
#cover
	opacity .5
	width 100%
	height 100%
	background-color black
	position absolute
	top 0px
	left 0px
	z-index 10
	display none
#holder
	width 100
	height 100px
	background-color blue
.view
	a
		text-decoration none
.block-view
	padding 5px
	padding-bottom 10px

.form-group.location 
	input
		font-size 1.4em
		border 1px solid
		padding 1px
		width 400px
		padding 3px
	a
		font-size 1.4em
		padding 4px
		text-decoration none
		border 1px solid
		border-left 0px
		border-color #555
		color #555
		margin-left -1px

.body
	display none
.body-edit
	display none
.title-edit
	display none
.submit-update
	display none
.editing
	.body-edit
		display inline-block
	.title-edit
		display inline-block
	.body
		display none
	.title
		display none
	.submit-update
		display inline-block
.form-box
	margin-top 15px
